wp-content/
wordpress/wp-content/uploads/
wordpress/wp-content/cache/
wordpress/wp-content/upgrade/
wordpress/wp-content/webp-express/
wordpress/wp-content/wpvividbackups/
wordpress/wp-content/wpvivid_staging/
wordpress/wp-content/wpvivid_uploads/
wordpress/wp-content/backups-dup-lite/
wordpress/wp-content/ai1wm-backups/
wordpress/wp-content/plugins/wpvivid-backuprestore/vendor/
wordpress/wp-content/plugins/duplicator/
wordpress/wp-includes/
wordpress/wp-admin/
.env
*.env
*.log
uploads.ini
docker-compose.yml.save
docker-compose.yml.save.1
