wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/webp-express/
wp-content/wpvividbackups/
wp-content/wpvivid_staging/
wp-content/plugins/wpvivid-backuprestore/vendor/
.env
*.env
*.log
wordpress/
uploads.ini
docker-compose.yml.save
docker-compose.yml.save.1
/wp-admin/
/wp-includes/
